{# index.tiwg #}
{# https://dev2.m-fr.net/アカウント名/inquiry/ #}
<!doctype html>
<h1>問い合わせ 入力</h1>
<form action="./inquiry_confirm.php" method="post">
    お名前(*):<input name="name"><br>
    連絡先メール:<input name="email"><br>
    連絡先電話番号:<input name="tel"><br>
    問い合わせ内容(*)<textarea name="body"></textarea><br>
    <button>問い合わせる</button>
</form>
